/*
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
*/


/* Very Small Devices from 320px and Up */
@media (min-width:320px){
    .topbar-wrapper{
        display: none;
    }
    
    .main-navigation,.main-header{
        display: none;
    }
    
    footer, .footer-body p{
        text-align: center;
    }

    /* Cart Page */
    .product-image-cart-table{
        display: none;
    }

    .product-details-cart p, span{
        top:0!important;
    }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/*  Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .mobile-menu{
        display: block;
    }
    
     .main-navigation,.main-header{
        display: none;
    }

    .product-image-cart-table{
        display: block;
    }

    .product-details-cart p, .product-details-cart span{
        top:-20px!important;
    }
    
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    
    .mobile-menu{
        display: none;
    }
    .topbar-wrapper{
        display: block;
    }
    
    
    .main-navigation,.main-header{
        display: block;
    }
    
   
    
    footer{
        text-align: left;
        
    }
    .footer-body p{
        text-align: right;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }