/* CSS Styles for OnPoint Wordpress Theme */

/* ******************************************
Pages Index
==============================
1.Homepage
2.Shop Page
    -Checkout Page,
    -Cart Page,
    -Single Product Page
    - Shop Items List Page
3.Blog
    - Blog With Sidebar Page
    - Full Width Blog Page
    - Single Blog Page
4.Contact Page
===============================

/*
Reusable Items In Theme 

Buttons Classes
------------
1. Default Button OnPoint - "onpoint-btn-1",

Page and Section Titles:
--------------------------
1. Default Section Title - "section-title",
*/
/* Styles Begin */

/* General */
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

body{
    font-family: Oswald;
    overflow-x:hidden;
}

.container-fluid{
    padding: 0px 40px;
}

p{
    font-size: 14px;
    
}




/*Onpoint Custom Buttons */
button.onpoint-btn-1{
    border:4px solid #000;
    font-weight: 600;
    background:none;
    text-transform: uppercase;
    padding: 8px 20px;
    transition: all .3s ease-in;
}

button.onpoint-btn-1:hover{
    background:#000;
    color:#fff;
    transition: all .3s ease-in;
    
}

/*Section Titles */
.section-title{
    font-size: 46px;
    
}

/*Overlay Styles*/
.overlay {
    background: #0000007a;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 9999999;
    display: none;
    opacity: 0;
}

.active{
    display: block;
    opacity: 1;
    transition:all .4s ease-in;
}

/*HomePage Styles Start Here*/
/* Topbar Styles */
.topbar-wrapper {
    background: #000;
}

.topbar-wrapper {
    background: #000;
    color: #fff;
    padding: 10px;
}

.topbar-wrapper h4 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.widget{
    width:100%;
    text-align:center;
}


/*Navigation Main*/
.main-navigation ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.main-navigation ul li {
    display: inline-flex;
    padding: 0px 1.5em;
    text-transform: uppercase;
}

.main-navigation ul li:first-child {padding-left: 0px;}

.main-navigation ul li a {
    color: #000;
    text-decoration: none;
}

.main-navigation {
    margin-top: 35px;
}

.main-navigation .form-group input {
    border-radius: 0;
    background: #e4e4e4;
    border: none;
    font-size: 1em;
    text-transform: uppercase;
    color: #909090;
}

.main-navigation .form-group input:focus {
    border: none;
    box-shadow: none;
}

/*Mobile Menu */
.mobile-menu h3 {
    font-size: 2.5em;
    font-family: PlayFair Display;
}
.mobile-menu .col ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.mobile-menu .col ul li {
    display: inline-flex;
}

.mobile-menu .col ul li h3 {
    margin: 0px;
}

.mobile-menu {
    position: absolute;
    z-index: 99999999;
    left: 0;
    right: 0;
    background: #fff;
    width: 100vw!important;
    top: 0;
    padding: 18px;
}

.mobile-menu button {
    position: absolute;
    top: 0px;
    font-size: 25px;
    left: 0;
}

.mobile-menu ul {
    width: 100%;
    text-align: center;
}

.mobile-menu ul li h3 {}

.mobile-menu {
    margin: 0 auto;
}

.menu-mobile {
    background: #fff;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 10;
    text-align: center;
    top: 0;
    overflow: hidden;
    transform: scaleY(0);
    box-shadow: 2px 2px #ff760026;
}

.menu-mobile ul {
    margin: 0px;
    padding: 0px;
    margin-top: 84px;
}

.menu-mobile ul li {
    padding: 20px 0px;
    text-transform: uppercase;
}

.open-menu{
    transform:scaleY(1);
}

.menu-mobile.open-menu ul li a {
    color: #000;
    font-weight: 400;
    text-decoration: none;
}

.menu-mobile ul {
    border-top: 1px solid #d9d9d9;
}
/*End Main Navigation */

/*Main Header Styles Herer*/
.main-header h3{
    text-align:center;
    font-size: 4.5em;
    text-transform: uppercase;
    font-family:PlayFair Display;
}

.main-header h5{
  text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.7em;
    font-weight: 400;
}






/*Footer Styles */
.footer-head {
    text-align: center;
}

.footer-head ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.footer-head ul li {
    display: inline-flex;
    padding: 0px 1em;
    text-transform: uppercase;
}

.footer-body {
    background: #000;
    padding: 50px 0px;
    color: #fff;
}

.footer-head ul li a {
    color: #000;
    text-decoration: none;
    margin-bottom: 20px;
}

footer{
    margin-bottom:0!important;
    margin-top: 50px;
}

.footer-body h3 {
    font-size: 2em;
    font-family: PlayFair Display;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.footer-body h5 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0.5em;
    text-indent: 0.2em;
}

.footer-body p {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: right;
}